{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sp movies</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body style="background-color: #111111f1;">

    <nav class="flex-div">
        <div class="nav-left flex-div">
            <button><img src="{% static 'images/menu.png' %}" class="menu-icon"></button>
            <b>sp flims</b>

        </div>
        <div class="nav-middle flex-div">

        </div>
        <div class="nav-right flex-div">
            <div class="login-div flex-div">
                <a href="{% url 'homeget' %}">
                    <h4>HOME</h4>
                </a>
            </div>
        </div>


    </nav>


    <div class="menu">

        <ul>
            <li><a href="{% url 'homeget' %}">home</a></li>
            <li><a href="">favourites</a></li>
            <li><a href="">downloads</a></li>
            <li><a href="">contact</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">log out</a></li>
            {% endif %}
        </ul>
    </div>



    <div class="login-box">
        <h1>
            login
        </h1>
        <div>
            {% for message in messages %}
            <h3 style="color: rgb(241, 15, 15);">{{message}}</h3>
            {% endfor %}
        </div>

        <form action="" method="post">
            {% csrf_token %}
            
            <label for="">username:</label>
            <input type="text" name="username" placeholder="enter username" style="font-size: 20px;" required>
            <label for="">password</label>
            <input type="password" name="password" placeholder="enter password:"  style="font-size: 20px;" required>
            <button type="submit">submit</button>
        </form>
        <p>Don't have an account ? <a href="{% url 'signup' %}">sign up.</a></p>
    </div>

    <footer>
        <div class="footer-contact">
            <h5>contact | sarad pavan</h5>
        </div>
        <div class="sp-movies">
            <h5>@ sp movies</h5>
        </div>
    </footer>
    

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>